@font-face {
    font-family: 'nunitoSans';
    src: local('nunitoSans'),
        url('./fonts/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'nunitoSans';
    font-weight: bold;
    src: local('nunitoSans'),
        url('./fonts/NunitoSans-Bold.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: nunitoSans, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
